/*Ubuntu Font Family*/
h1{
    font-family: "Ubuntu", sans-serif;
    font-size: 60px;
    font-style: normal;
    color: black;
}

/*Ubuuntu condenced font family*/

h2 h3 h4 h5 h6{
    font-family: "Ubuntu Condensed", sans-serif;
    font-style: normal;
    font-size: 45px;
    color: black;
} 
/*Navigation Bar styling */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 9px 14px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111111;
}
/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: right; 
  color: white;
}

nav ul {
  position: fixed;
  top: 0;
  width: 100%;
}
